@model IEnumerable<CustomerInterface.ViewModels.CourseViewModel>

    @section styles{
    <link rel="stylesheet" href="~/css/styles.css">
}
@{
    ViewData["Title"] = "Kurser";
    ViewBag.PageTitle = "Kurser";
}

<h1 class="page-title">@ViewData["Title"]</h1> 
<h3>Skriv för att söka: https://localhost:7020/Course/Search/(category)</h1>
<div>
    <form asp-controller="Course" asp-action="Search" method="post">
        <input type="text" name="searchString" placeholder="Sök efter kategori">
            <input type="submit" value="Filter" placeholder="Sök">
    </form>
</div>

<p>
    <a asp-action="Create">Skapa ny kurs</a>
</p>

<article>
    <section class="gallery-wrapper">
        @foreach (var course in Model!)
        {
            <div class="gallery-card">
                <h4>@course.Title</h4>
                @* <a asp-controller="Course" asp-action="Details" asp-route-id="@course.CourseId">
                    <img src="@course.ImageUrl" alt="course.Title" courseId="@course.CourseId" width="200">
                </a> *@
                <p>@course.CourseNumber @course.Lenght</p>
                <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Ändra</a>
                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.CourseId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Detaljer</a>

            </div>
        }
    </section>
</article>

@* <div class="modal hidden">
    <button class="close-modal">&times;</button>
    <div class="modal-container"></div>
</div>
<div class="overlay hidden"></div> *@

@* @section scripts{
    <script src="~/js/App.js"></script>
} *@
