@page
@model razorApp.Pages.Administration.StudentDetails
@{
    ViewData["Title"] = "StudentDetails";
}

<h1>@ViewData["Title"]</h1>

<br>
 <a class="go-back" asp-page="/Index"><i class="fa-solid fa-left-long"></i>Startsidan</a>
 <a class="go-back" asp-page="/CourseGallery"><i class="fa-solid fa-left-long"></i>Kurser</a>
<br>
@* <div>
        <article>
            <section class="gallery-wrapper">
                <p>@Model.StudentCourseModel.StudentId</p>
                <p>@Model.StudentCourseModel.StudentName</p>
                <p>@Model.StudentCourseModel.Courses</p>
                
            </section>
        </article>
    
  
</div> *@

@* @foreach (var student in Model.StudentCourseModel)
                {
                    <div>
                        <p>@student.CourseNumber</p>
                         <p>@student.Title</p>
                    </div>
                } *@