@page
@model razorApp.Pages.CourseGallery
@{
    ViewData["Title"] = "Våra kurser";
}

<h1 class="page-title">Våra kurser</h1>

<article>
    <section class="gallery-wrapper">
        @foreach (var course in Model.Courses)
        {
            <div class="gallery-card">
                <h4>@course.Title</h4>
                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.CourseId">
                    <img src="@course.ImageUrl" alt="course.Title" courseId="@course.CourseId" width="200">
                </a>
                <p>@course.CourseNumber @course.Lenght</p>
                <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Ändra</a>

            </div>
        }
    </section>
</article>
