@page
@model razorApp.Pages.CourseGallery
@section styles{
<link rel="stylesheet" href="~/css/gallery-page.css">
}

@{
    ViewData["Title"] = "Våra kurser";
}

<h1 class="page-title">Våra kurser</h1>
<br>
 <a class="go-back" asp-page="/Index"><i class="fa-solid fa-left-long"></i>Startsidan</a>
<br>

<article>
    <section class="gallery-wrapper">
        @foreach (var course in Model.Courses)
        {
            <div class="gallery-card">
                <a asp-page="/Details" asp-route-id="@course.CourseId">
                    @* <img src="" alt="course.Title" courseId="@course.CourseId" width="200"> *@
                    <h4>@course.Title</h4>
                </a>
                <p>Kursnummer: @course.CourseNumber</p>
                <p>Längt: @course.Lenght</p>
                @* <Button class="button">Registrera dig på kursen</Button> *@
                @* <form method="post"><Button type ="submit" class="button">Registrera dig på kursen</Button></form> *@
                
            </div>
        }
    </section>
</article>
<br>
